<div class=" shadow sticky-top container-fluid d-flex flex-column">
    <div class="container-fluid d-flex flex-row justify-content-between" >
        <div class="container-fluid d-flex col flex-column justify-content-around justify-item-start">
            <h4>Massoudi Ray-hann</h4>
            <h5>Student in Computer Science</h5>
        </div>
        <div class="container-fluid col-3 d-flex flex-column justify-content-around justify-item-end">
            <h6>Langages :</h6>
            <div>French: Native</div>
            <div>English: Fluent</div>
        </div>
    </div>
    <p>4 years of programming experience,
    I am fluent in English and good working knowledge of Italian.
    Over the course of my career, I have supervised several teams of 4 to 6 people
    with proven results.</p>
</div>