<div class="container-fluid d-flex sticky-bottom flex-column justify-content-start justify-item-center">
    <h5>My contacts : </h5>
    <div class="container-fluid d-flex flex-row justify-content-around justify-item-center">
        <div>
            <i class="fa-solid fa-at"></i> ray-hann06@hotmail.fr
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>  +33 7 67 33 85 73
        </div>
        <div class="text-body" ><a href="https://www.linkedin.com/in/ray-hann-massoudi-92392b192/" class="text-body"> <i class="fa-brands fa-linkedin"> My Linkedin</i> </a></div>
        <div><a href="https://github.com/rayray06" class="text-body"> <i class="fa-brands fa-github"></i> My GitHub</a></div>
    </div>
</div>
