<router-outlet></router-outlet>
<div class="main container-fluid d-flex flex-column">
    <header class="position-sticky top-0 row bg-light bg-gradient" style="z-index: 7;">
        <app-header class="d-inline-flex justify-content-center"></app-header>
    </header>
    <div class="row flex-grow-1 d-flex flex-row justify-content-between">
        <section class="col d-flex flex-column">
            <router-outlet ></router-outlet>
        </section>
    <footer class="position-sticky bottom-0 row bg-light bg-gradient" style="z-index: 2000;">
        <app-footer></app-footer>
    </footer>
</div>